body {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ECEFF1;
}

.logo {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    background-color: #ECEFF1;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.container:hover,
.container:focus {
    box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.3);
    text-indent: 0;
}

.text {
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 0;
    z-index: 10;
    text-indent: -99999px;
}

.text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    word-wrap: break-word;
    font-size: 1.3em;
    text-align: center;
}

.text:hover,
.text:hover {
    text-indent: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width:300px) {
    .container {
        width: 100px;
        height: 100px;
    }
}